.footer {
    background: #6278F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}