.botao {
    background: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.botao:hover {
    color: #95FFD4;
}